
.cardsContainer {
    margin-left: 17em;
    margin-top: 1em;
    display: block;
    width: 30em;
    position: relative;
    max-width: 60em;
  }
  
  .individualCard {
    margin-left: 2em;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
   
    border-radius: 10em;
  
  }
  
  .profilePic {
    border-radius: 1000px;
      max-width: 75%;
      height: auto;
  }  

  .spinnerStyle{
    left: 17em;
    width: 32em;
    top: 16em;
    background-color: lightgray;
    position: absolute;
    display: block;
    height: 50em;
    border-radius: 15px;
  }